parameters:
  level: 5
  paths:
    - app
  scanFiles:
    - vendor\topthink\framework\src\helper.php
    - vendor\topthink\think-orm\src\db\builder\Mysql.php
  excludePaths:
    - app\common\Auth.php
    - tests.ignore/*
    - app/backend/domain/Layout/Builder.ignore/*
  ignoreErrors:
    # - '#Call to an undefined static method think\\facade\\Db::query\(\)#'
    # - '#Access to an undefined property think\\App::\$revision#'
    # - '#Parameter \#3 \$filter of static method think\\Request::param\(\) expects array\|string\, null given\.#'
    - '#Call to an undefined method app\\core\\CoreFacade::\w+\(\).#'
    - '#Call to an undefined method SplSubject::\w+\(\).#'
