parameters:
  level: 5
  paths:
    - app
  scanFiles:
    - vendor\topthink\framework\src\helper.php
    - vendor\topthink\think-orm\src\db\builder\Mysql.php
  excludePaths:
    - app\common\Auth.php
  ignoreErrors:
    - '#Call to an undefined static method think\\facade\\Db::query\(\)#'
